/* 
    Nav Breakpoints:
    max-width: 1214px;
    max-width: 1114px;
    max-width: 768px;
*/

/* Content breakpoints:
    max-width: 1024px;
    max-width: 768px;
*/

body,
html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

/* Navigation Bar */

nav ul {
  display: flex;
  flex-flow: row nowrap;
  border: black 1px solid;
}

nav li {
  padding: 20px 10px;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: #949494;
}

nav a:hover {
  color: black;
}

#nav-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#search,
#hamburger-menu {
  float: right;
  background: none;
  border: none;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
}

#hamburger-menu {
  display: none;
}

/* Main Content */
.featured {
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 10px;
  margin: 10px 10px;
}

.featured > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  height: 540px;
}

.large-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgb(44, 44, 44);
  background-image: linear-gradient(#d4d4d4, black);
}

.article-title p {
  font-size: 12px;
  padding-bottom: 10px;
  color: white;
}

.article-details {
  display: flex;
  padding: 1.3em 0 0 0;
  align-items: center;
}

.article-details a {
  color: #a8a8a8;
}

.article-details p {
  padding-right: 10px;
  font-size: 14px;
  color: #a8a8a8;
}

.article-details i {
  padding-right: 3px;
  color: #a8a8a8;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

#today a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
}

/* Responsive Queries */

@media only screen and (max-width: 1214px) {
  .nav-mid {
    display: none;
  }
}

/* Banner Breakpoint */
@media only screen and (max-width: 1114px) {
}

/* Content Breakpoint */
@media only screen and (max-width: 1024px) {
  .large-article {
    padding: 20px 10px;
  }

  #today {
    visibility: hidden;
    padding: 0;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .article-details {
    padding-top: 10px;
  }
}

/* Mobile (Content and Nav) */
@media only screen and (max-width: 768px) {
  /* Nav */
  nav li {
    display: none;
  }

  #logo {
    display: initial;
  }

  #nav-right {
    display: initial;
  }

  #hamburger-menu {
    display: initial;
  }

  /* Content */
  .featured {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
  }

  .featured > div {
    display: flex;
    flex-flow: column wrap;
  }

  .large-article {
    height: 200px;
    padding: 20px 10px;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
