:root {
  --primary-color: #f42;
  --secondary-color: rgba(255, 68, 34, 0.08);
}

/* 
    Nav Breakpoints:
    max-width: 1214px;
    max-width: 1114px;
    max-width: 768px;
*/

/* Content breakpoints:
    max-width: 1024px;
    max-width: 768px;
*/

body,
html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

/* Navigation Bar */

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

nav li {
  padding: 20px 10px;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: #949494;
}

nav a:hover {
  color: black;
}

#nav-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#search,
#hamburger-menu {
  float: right;
  background: none;
  border: none;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
}

#hamburger-menu {
  display: none;
}

/* Main Content */
.featured {
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 10px;
  margin: 10px 10px;
}

.featured > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  height: 540px;
}

.large-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 15px;
  background-color: rgb(44, 44, 44);
  background-image: linear-gradient(#d4d4d4, black);
}

.article-title p {
  font-size: 12px;
  padding-bottom: 10px;
  color: white;
}

.article-details {
  display: flex;
  padding: 1.3em 0 0 0;
  align-items: center;
}

.article-details a {
  color: #a8a8a8;
}

.article-details p {
  padding-right: 10px;
  font-size: 14px;
  color: #a8a8a8;
}

.article-details i {
  padding-right: 3px;
  height: 100%;
  color: #a8a8a8;
}

h2 {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

#today a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
}

/* More Articles */
.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  overflow: hidden;
}

.articles {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  width: 100%;
}

.articles > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: -37px;
}

.articles h4,
.articles h4 a {
  font-size: 28px;
  margin: 20px 0;
  color: var(--primary-color);
  font-weight: bold;
}

.articles h4 a:hover {
  color: black;
}

.article {
  width: 23%;
  margin-bottom: 20px;
  padding-right: 19px;
}

.article h5 {
  font-size: 16px;
  font-weight: bolder;
  padding: 10px 0;
  padding-bottom: 7px;
  line-height: 18px;
}

.article h5:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.inline-links {
  margin: 0 !important;
  justify-content: space-between !important;
}

.inline-links > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin-bottom: 25px;
}

.inline-links > ul li a,
.inline-links > ul li {
  color: var(--primary-color);
}

.inline-links > ul li:not(:last-child):after {
  content: " | ";
}

.inline-links > ul li {
  padding-left: 5px;
}

.author {
  display: flex;
  font-size: 14px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.author,
.author a {
  color: #949494;
}

.author a:hover {
  color: #555555;
}

.author span {
  padding: 0 8px;
}

.thumbnail {
  overflow: hidden;
  width: 100%;
}

.thumbnail div {
  height: 142px;
  overflow: hidden;
}

.thumbnail img {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Funding Categories */
.funding-category > .container {
  box-sizing: border-box;
  width: 100%;
  display: relative;
}

.funding-category > .container img {
  height: 60px;
}

.funding-category > .container {
  display: flex;
  flex-flow: row nowrap;
}

.funding-category > .container figure {
  height: 60px;
  width: 60px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 10px;
}

.funding-category > .container div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: var(--secondary-color);
}

.funding-category > .container h5 {
  background-color: var(--primary-color);
  padding: 10px 10px 10px 80px;
  color: white;
  font-weight: bold;
}

.funding-category > .container p {
  line-height: 16px;
  padding-left: 80px;
}

.charity-contribution {
  padding-top: 10px;
  font-weight: bold;
}

.charity-type {
  font-size: 12px;
  color: gray;
  padding-bottom: 10px;
}

/* Funding Categories: Secondary Info */

.charity-tags {
  background: rgb(255, 250, 248);
}

.charity-tags ul {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
}

.charity-tags li {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.charity-tags i {
  padding-right: 3px;
}

.charity-tags > div {
  padding: 10px;
  min-height: 60px;
}

.charity-tags > div p {
  font-size: 12px;
  line-height: 20px;
}

.charity-tags > div small {
  color: gray;
}

/* Categories Section */
.categories {
  width: calc(100% + 25px);
  display: inline-flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.category {
  width: 33.333%;
  padding-right: 25px;
  box-sizing: border-box;
}

.category > div {
  width: 100%;
}

.category .large-article {
  height: 250px;
  padding: 15px;
}

.category .article-details {
  padding-top: 10px;
}

.category .article-details p {
  font-size: 12px;
}

.category h3 {
  font-size: 20px;
}

/* Categories: Latest Article */
.latest-article {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 2px;
}

.latest-article div {
  padding: 15px;
}

.latest-article a {
  font-weight: bold;
  line-height: 18px;
  color: var(--primary-color);
}

.latest-article a:hover {
  text-decoration: underline;
}

.latest-article figure {
  height: 90px;
  overflow: hidden;
}

.latest-article figure img {
  height: 100%;
}

/* Categories: More articles */
.category-articles {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

.category-articles li {
  padding: 10px 15px;

  border-bottom: 1px solid rgb(206, 206, 206);
}

.category-articles li a {
  color: rgb(83, 83, 83);
}

.category-articles li a:hover {
  color: rgb(24, 24, 24);
}

.category-articles li a:visited {
  color: rgb(160, 160, 160);
}

.category-articles li::before {
  content: "\2022";
  color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  width: 8px;
  margin-left: -1em;
}

/* Latest deals Section */
.sale-price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.sale-price small {
  font-size: 12px;
  padding: 0 5px 0 0;
  text-decoration: line-through;
  color: #949494;
}

.sale-price p {
  font-size: 16px;
  color: #555555;
}

.deal-thumbnail div {
  height: 14.5vw !important;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.deal-thumbnail span {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0 0 40px 10px;
}

.deal-thumbnail p {
  font-size: 14px;
  font-weight: bold;
  transform: rotate(45deg);
  margin: 20px 2px 0 0;
}

/* Responsive Media Queries */

@media only screen and (max-width: 1214px) {
  .nav-mid {
    display: none;
  }

  .thumbnail div {
    height: 11.5vw;
  }

  .articles > div {
    margin-right: -30px;
    width: 100%;
  }

  #explore {
    padding: 20px;
    overflow: hidden;
  }
}

/* Banner Breakpoint */
@media only screen and (max-width: 1114px) {
}

/* Content Breakpoint */
@media only screen and (max-width: 1024px) {
  .large-article {
    padding: 20px 10px;
  }

  #today {
    visibility: hidden;
    padding: 0;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .article-details {
    padding-top: 10px;
  }

  /* More Articles */
  .articles {
    margin-bottom: 40px;
  }

  .article {
    width: 30.7%;
  }

  .article h5 {
    font-size: 14px;
  }

  .author p {
    font-size: 12px;
  }

  .sale-price p {
    font-size: 14px;
  }

  .thumbnail div {
    height: 16vw;
  }

  .deal-thumbnail div {
    height: 23vw !important;
  }

  /* Categories Section */
  .category {
    width: 50%;
  }
}

/* Mobile (Content and Nav) */
@media only screen and (max-width: 768px) {
  /* Nav */
  nav li {
    display: none;
  }

  #logo {
    display: initial;
  }

  #nav-right {
    display: initial;
  }

  #hamburger-menu {
    display: initial;
  }

  /* Content */
  .featured {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
  }

  .featured > div {
    display: flex;
    flex-flow: column wrap;
  }

  .large-article {
    height: 200px;
    padding: 20px 10px;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
  }

  /* More Articles */
  .article {
    width: 100% !important;
  }

  .inline-links > ul,
  .inline-links {
    flex-flow: column wrap !important;
    align-items: flex-start;
  }

  .inline-links > ul li:not(:last-child) {
    padding-bottom: 10px;
  }

  .inline-links > ul li:after {
    display: none;
  }

  .thumbnail {
    width: 70px;
    float: left;
    padding-right: 10px;
  }

  .thumbnail div {
    height: 70px !important;
    width: 70px !important;
    overflow: hidden;
    position: relative;
  }

  .thumbnail img {
    height: 100%;
    width: unset;
  }

  .deal-thumbnail span {
    display: none;
  }

  /* Categories Section */
  .category {
    width: 100%;
  }

  .category div div {
    width: 100%;
  }
}
